In [1]:
import pandas as pd
from mypkg.lib import clean_data

df = pd.read_csv('data/mon_csv_lingerie.csv')
df.head()

   Unnamed: 0  price                                  titles
0           0  25.99     Soutien-gorge emboîtant en dentelle
1           1  27.99  Soutien-gorge corbeille en tulle brodé
2           2  11.99    Soutien-gorge bustier sans armatures
3           3  11.99         Shorty taille haute en dentelle
4           4  12.59                    Tanga en tulle brodé

In [2]:
df = clean_data(df) #clean unamed column generated when crawling
df.head()

You can see here the dataframe header:
    price                                  titles
0  25.99     Soutien-gorge emboîtant en dentelle
1  27.99  Soutien-gorge corbeille en tulle brodé
2  11.99    Soutien-gorge bustier sans armatures
3  11.99         Shorty taille haute en dentelle
4  12.59                    Tanga en tulle brodé

   price                                  titles
0  25.99     Soutien-gorge emboîtant en dentelle
1  27.99  Soutien-gorge corbeille en tulle brodé
2  11.99    Soutien-gorge bustier sans armatures
3  11.99         Shorty taille haute en dentelle
4  12.59                    Tanga en tulle brodé

In [3]:
from mypkg.scale import scalefunc

help(scalefunc)

Help on function scalefunc in module mypkg.scale:

scalefunc(mydf, oldcolumn, newcolumnName, tab, value)
    You have to enter 5 parameters,
    mydf: your dataframe
    oldcolumn: the mydf.column_you_want_to_scale
    newcolumn: string: colonne name
    tab: value integer of your separations
    value: value returned in the new column

In [4]:
mytab = [0,5,10,15,20]
myvalue = ["Pas cher", "Pas trop cher", "Ca passe", "Cher", "Hyper cher", "test qui amène le bug"] #Bug len
new_df = scalefunc(df, df.price, "scale", mytab, myvalue)

len(tab) != len(value) : Out of range

In [5]:
mytab = [0,5,15,10,20] #Bug ordered
myvalue = ["Pas cher", "Pas trop cher", "Ca passe", "Cher", "Hyper cher"]
new_df = scalefunc(df, df.price, "scale", mytab, myvalue)

tab != sorted(tab) : Table not sorted

In [6]:
mytab = [0,5,10,15,20]
myvalue = ["Pas cher", "Pas trop cher", "Ca passe", "Cher", "Hyper cher"]
new_df = scalefunc(df, df.price, "scale", mytab, myvalue)

new_df.head()

   price                                  titles       scale
0  25.99     Soutien-gorge emboîtant en dentelle  Hyper cher
1  27.99  Soutien-gorge corbeille en tulle brodé  Hyper cher
2  11.99    Soutien-gorge bustier sans armatures    Ca passe
3  11.99         Shorty taille haute en dentelle    Ca passe
4  12.59                    Tanga en tulle brodé    Ca passe